<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>хуями</title>
		<link href="static/main.css" type="text/css" rel="stylesheet" />
		<script src="static/jquery.js" type="text/javascript"></script>
		<script src="static/jquery.ui.js" type="text/javascript"></script>
		<script src="static/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="header">
			sd
		</div>
		<div id="main">
			<div id="desk">
				<table>
					<thead>
						<tr>
							<th>open</th>
							<th>in progress</th>
							<th>ready</th>
						</tr>
					</thead>
					<thead>
						<tr>
							<td colspan="3">страница бронирования <a href="#" class="add">add ticket</a></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

							</td>
							<td class="progress">
								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>


							</td>
							<td class="ready">
								<div class="task first">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

							</td>
						</tr>
					</tbody>








					<thead>
						<tr>
							<td colspan="3">страница бронирования</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

							</td>
							<td class="progress">
								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>


							</td>
							<td class="ready">
								<div class="task first">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

								<div class="task">
									<div class="text">
										<p>Рейтинг, анализируя результаты рекламной кампании, довольно неоднозначен. Сегментация рынка, как следует из вышесказанного, инновационна. Продуктовый ассортимент, суммируя приведенные примеры, основан на анализе телесмотрения.</p>
										<p>Имидж повсеместно охватывает формирование имиджа, опираясь на опыт западных коллег. Узнавание бренда директивно охватывает стратегический рыночный план, отвоевывая свою долю рынка. </p>
									</div>
									<ul class="tags">
										<li>max</li>
										<li>high</li>
									</ul>
									<ul class="comments">
										<li class="tc"><a href="#" class="add">add comment</a></li>
									</ul>
								</div>

							</td>
						</tr>
					</tbody>


				</table>
			</div>
		</div>
		<div id="sidebar">
			<ul id="tags">
				<li>max</li>
				<li>marat</li>
				<li>high</li>
			</ul>
		</div>
		<div id="overlay">
			<div>
				asdasd
			</div>
		</div>
	</body>
</html>

